<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>vi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">
  <div class="ion-text-center">
    <img class="img"
   src="https://i.pinimg.com/736x/e9/de/74/e9de74e32184333a8e27e514bba7e9e2.jpg"/>
 </div>
 <h2 class="ion-text-center cor">Vi</h2>

 <div class="ion-text-center">
   <ion-icon name="call-outline" size="large" class="cor2"></ion-icon>
 <ion-icon name="chatbox-ellipses-outline"  size="large" class="cor2"></ion-icon>
 <ion-icon name="logo-whatsapp"  size="large" class="cor2"></ion-icon>
 </div>

 <ion-card>
   <ion-card-header>
     <ion-card-subtitle>Email</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
     <ion-icon name="mail-outline"></ion-icon>
     victorcarbelotti@gmail.com
   </ion-card-content>
   <ion-card-header>
     <ion-card-subtitle>Celular</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
     <ion-icon name="call-outline" ></ion-icon>
     +55(14)00000-0000
   </ion-card-content>
 </ion-card>

</ion-content>
