<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ari Bts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">
  <div class="ion-text-center">
     <img class="img"
    src="https://i.pinimg.com/474x/f4/6a/21/f46a21212fbb188807047a0daf43066f.jpg"/>
  </div>
  <h2 class="ion-text-center cor">Ari Bts</h2>

  <div class="ion-text-center">
    <ion-icon name="call-outline" size="large" class="cor2"></ion-icon>
  <ion-icon name="chatbox-ellipses-outline"  size="large" class="cor2"></ion-icon>
  <ion-icon name="logo-whatsapp"  size="large" class="cor2"></ion-icon>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Email</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="mail-outline"></ion-icon>
      arirodokas@gmail.com
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>Celular</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="call-outline" ></ion-icon>
      +55(14)00000-0000
    </ion-card-content>
  </ion-card>

</ion-content>
