.fundo{
  --background:#1F1F1F;
}

ion-toolbar{
  --background:#252525;
 ion-title{
  font-weight: 700;
  color: #2871a1;
 }
}

ion-item{
  --background:#213949;
margin: 5px;
  h2{
    color: white;
    margin: 10px;
  }
}

ion-thumbnail{
  img{
    border-radius: 50px;
    width: 60px;
    height: 60px;
  }
}

.bt{
  --border-radius: 20px;
  --background:#213949;
}


