<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">

  <ion-item (click)="pagRoute('../ari')">
    <ion-thumbnail>
      <img
        src="https://i.pinimg.com/474x/f4/6a/21/f46a21212fbb188807047a0daf43066f.jpg"
      />
    </ion-thumbnail>
    <ion-label>
      <h2><strong>Ari Bts</strong></h2>
    </ion-label>
  </ion-item>

  <ion-item (click)="pagRoute('../duda')">
    <ion-thumbnail>
      <img
        src="https://yt3.googleusercontent.com/CbPtE4IcrtiR6FRvLOMSRcoVl9Bx2Wyfe87Zsb2HNKgm_hDZ7z1TYpeV_KqPDSf5csmoFVF6Eg=s900-c-k-c0x00ffffff-no-rj"
      />
    </ion-thumbnail>
    <ion-label>
      <h2><strong>Duda</strong></h2>
    </ion-label>
  </ion-item>

  <ion-item (click)="pagRoute('../gabi')">
    <ion-thumbnail>
      <img
        src="https://www.gannett-cdn.com/presto/2022/05/15/USAT/abdf5cd7-c027-4748-ad4a-7d2fe9cf5736-Harry_Styles_1.jpg?width=592&format=pjpg&auto=webp&quality=70"
      />
    </ion-thumbnail>
    <ion-label>
      <h2><strong>Gabi</strong></h2>
    </ion-label>
  </ion-item>

  <ion-item (click)="pagRoute('../vi')">
    <ion-thumbnail>
      <img
        src="https://i.pinimg.com/736x/e9/de/74/e9de74e32184333a8e27e514bba7e9e2.jpg"
      />
    </ion-thumbnail>
    <ion-label>
      <h2><strong>Vi</strong></h2>
    </ion-label>
  </ion-item>

  <ion-item (click)="pagRoute('../vitor')">
    <ion-thumbnail>
      <img
        src="https://gartic.com.br/imgs/mural/sm/smizinho/miranha.png"
      />
    </ion-thumbnail>
    <ion-label>
      <h2><strong>Vitor</strong></h2>
    </ion-label>
  </ion-item>



</ion-content>
