.fundo{
  --background:#1F1F1F;
}

ion-toolbar{
  --background:#252525;
 ion-title{
  font-weight: 700;
  color: #2871a1;
 }
}

ion-item{
  --background:#213949;
  width: 400px;
margin: 5px;
  h2{
    color: white;
  }
}

ion-thumbnail{
margin: 10px;
  img{
    border-radius: 50px;
    width: 60px;
    height: 60px;
  }
}
