.fundo{
  --background:#bbcfe2;
}

ion-toolbar{
  --background:#dde7f0;
 ion-title{
  font-weight: 700;
  color: #162937;
 }
}

ion-item{
  --background:#4a6881;
  margin: 15px;
  --border-color: #fff;
  --border-width: 2px;
  --border-radius: 20px;
  h2{
    color: white;
  }
}

ion-thumbnail{
  margin: 10px;
  img{
    border-radius: 50px;
    width: 60px;
    height: 60px;
  }
}
