<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>duda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">
  <div class="ion-text-center">
    <img class="img"
   src="https://yt3.googleusercontent.com/CbPtE4IcrtiR6FRvLOMSRcoVl9Bx2Wyfe87Zsb2HNKgm_hDZ7z1TYpeV_KqPDSf5csmoFVF6Eg=s900-c-k-c0x00ffffff-no-rj"/>
 </div>
 <h2 class="ion-text-center cor">Duda</h2>

 <div class="ion-text-center">
   <ion-icon name="call-outline" size="large" class="cor2"></ion-icon>
 <ion-icon name="chatbox-ellipses-outline"  size="large" class="cor2"></ion-icon>
 <ion-icon name="logo-whatsapp"  size="large" class="cor2"></ion-icon>
 </div>

 <ion-card>
   <ion-card-header>
     <ion-card-subtitle>Email</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
     <ion-icon name="mail-outline"></ion-icon>
     dudagiglioli@gmail.com
   </ion-card-content>
   <ion-card-header>
     <ion-card-subtitle>Celular</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
     <ion-icon name="call-outline" ></ion-icon>
     +55(14)00000-0000
   </ion-card-content>
 </ion-card>
</ion-content>
